*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Formatação do menu de acessibilidade */
#acessibilidade{
    width: 100%;
    height: auto;
    background-color: #ca1313;
    margin: auto;
    padding-bottom: 5px;
}
#atalhos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    list-style: none;
    /*padding-left: 1%;*/
}
#atalhos li{
    display: inline;
}
#atalhos li a{
    color: #fff;
}
#atalhos li a:hover{
    color: #3e3e3e;
}
#pgaccess{
    padding-left: 40%;
}
ul #contrastep, ul #scontraste, ul #fonteA, ul #fontea{
    padding-left: 8px;
}
/* Fim da formatação do menu de acessibilidade */

h1{
    text-align: center;
}

/*Menu*/
header{
    background-color: #ca1313;
    padding: 12px 12px 0px 12px;
    min-height: 20%;
}

#logos{
    margin-bottom: 10px;

    /*Essas propriedades servem pra deixar os logos em extremidades opostas da página*/
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

#logo_fatec, #logo_cps{
    height: 50px;
}

#nav{
    width: 100%;
}

#menu{
    /*Altura e largura dos itens do menu*/
    line-height: 20px;
    font-weight: 500;

    /*Espaçar os itens de forma uniforme pelo tamanho da página*/
    display: flex;
    justify-content: space-between;
    position: relative;

    /*Outras configurações*/
    list-style-type: none;
}

.menu_item{
    display: inline-block;
    position: relative;
}

.menu_item a{
    padding: 12px 14px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 18px;
}

#submenu{
    text-transform: none;
    display: none;
    position: absolute;
    width: 220px;
    float: left;
    background-color: #ca1313;
    list-style-type: none;
}

.menu_item:hover{
    background-color: #750e0e;
    transition: 0.5s;
}

.menu_item:hover #submenu{
    display: block;
}

.menu_item_submenu:hover{
    background-color: #750e0e;
    border-left: 4px solid #fff;
    transition: 0.5s;
}

/* Breadcrumb */
.breadcrumb{
    padding-left: 2%;
    list-style: none;
}
.breadcrumb li{
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    color: #000;
}
.breadcrumb li a{
    color: #3e3e3e;
    text-decoration: none;
}
.breadcrumb li+li:before{
    content: "/\00a0";
    padding: 6px;
    color: #000;
}
.breadcrumb li a:hover{
    color: #000;
    text-decoration: underline;
}
/* Fim BreadCrumb */

/*conteúdo*/
main{
    min-height: 574px;
}

/* Paragrafo de Acessibilidade */


.npaccess, .npfaq{
    font-size: 1em;
    padding-left: 2%;
    padding-bottom: 8px;
    text-align: justify;
    font-weight: bold;
}
.paccess, .pfaq, .faqmenuli{
    font-size: 1em;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 8px;
    text-align: justify;
}

/* Conteúdo FAQ */

.faqmenuli{
    padding-left: 3%;
    font-size: 1.1em;
}

.faqsubmenuli{
    padding-left: 8%;
    padding-top: 10px;
    text-align: justify;
}

#menu_faq{
    list-style: none;
    padding-top: 2%;
}

#menu_faq li{
    position: relative;
}

#menu_faq li .submenu_faq{
    position: static;
    display: none;
    height: auto;
}

#menu_faq li:hover img{
    transition: 1s;
    transform: rotate(90deg);
}

#menu_faq li:hover ul{
    position: relative;
    display: block;
    list-style: none;
}

/*rodapé*/
#rodape{
    background-color: #3E0306;
    padding: 20px;
    color: #fff;
    height: 12em;
}

#rodape .title_rodape{
    border-bottom: 3px solid #fff;
    margin-bottom: 10px;
    font-size: 14px;
}

#rodape .rodape-col-1{
    list-style: none;
    font-size: 13px;
    width: 100%;
}

#rodape .rodape-col-1 li{
    padding-bottom: 15px;
}

#rodape .rodape-col-1 li a{
    text-decoration: none;
    color: #fff;
}

#rodape .rodape-col-1 li a:hover {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: 0.7s;
}

#rodape .rodape-col-1 li a:hover .icon{
    text-decoration: none;
    color: #fff;
    font-size: 23px;
    transition: 0.7s;
}

#rodape .rodape-col-1 li a .icon{
    font-size: 20px;
}

#rodape .sub_title_rodape{
    font-size: 13px;
    margin-bottom: 10px;
}

#rodape .rodape-col-2{
    list-style: none;
    width: 100%;
    margin-left: 40px;
}

#rodape .rodape-col-2 .title_rodape{
    border-bottom: 3px solid #fff;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: right;
}

#rodape .rodape-col-2 #redes-sociais li{
    display: inline-block;
    list-style: none;
}

#redes-sociais{
    display: flex;
    justify-content: space-around;
    position: relative;
}

#rodape .rodape-col-2 #redes-sociais li a img{
    width: 60%;
    margin-top: 5%;
    margin-bottom: 100%;
}

#rodape .rodape-col-2 #redes-sociais li a:hover img{
    width: 80%;
    margin-top: 5%;
    margin-bottom: 100%;
    transition: 0.5s;
}

#rodape .rodape-col-2 li p{
    font-size: 13px;
    margin-bottom: 3%;
}

#rodape div{
    width: 48%;
    float: left;
}

/*Media Queries*/

/*Rodapé*/
@media screen and (max-width:665px){
    #rodape{
        height: 14em;
    }

    #rodape .rodape-col-2 li p{
        font-size: 13px;
        margin-bottom: 10%;
    }
}

@media screen and (max-width:550px){
    #rodape{
        height: 15em;
    }
}

@media screen and (max-width:500px){
    #rodape{
        height: 22em;
    }

    div{
        width: 100%;
        padding-left: 0px;
        display: block;
    }

    #rodape .rodape-col-2 li p{
        font-size: 13px;
        margin-bottom: 1%;
    }

    #rodape .rodape-col-2 #redes-sociais li a img{
        width: 60%;
        margin-top: 5%;
        margin-bottom: 80%;
    }

    #rodape .rodape-col-2{
        list-style: none;
        width: 100%;
        margin-left: 0px;
    }

    #rodape .rodape-col-2 .title_rodape{
        border-bottom: 3px solid #fff;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: left;
    }
}

@media screen and (max-width:395px){
    #rodape .rodape-col-2{
        margin-top: 10%;
    }
}